body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard input {
  margin-right: 5px;
}
