body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dashboard {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
